################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/pdv2/v15
/.vs
/PDV/.vs/PDV/v15/Server/sqlite3/db.lock
